// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.new {
  width: 100%;
  text-align: center;
}
.buttons{
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;

}
.category_name{
  font-size: 2.5rem;
  padding: 1rem;
  text-align: center;
}

.category-container {
    padding: 1rem;
    background-color: whitesmoke;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
            justify-content: space-evenly;
    box-shadow: $box-shadow;
    border-radius: 2rem;
  h2 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
  }
  
}

.form-container{
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  .crud-form{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    background-color: $clouds;
    height: 50%;
    padding: 2rem;
    & .float-label input{
      font-size: 1.6rem;
    }
}
}
