.login {
  transition: all .5s;
  &__form {
    position: relative;
  }

  h3 {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 800px) {
  .login {
    height: calc(100vh - 50rem);
    @include make_box;
  }


}