// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.orders__header {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.user {

  transition: all .5s;
   

  &__form {
    margin-bottom: 2rem;
  }

  &__orders {
    max-width: 75rem;
    height: calc(100vh - 34rem) !important;
    overflow-x: auto;

   
  }
  &__container{
    background-color: $clouds;
    padding: 1rem;
    box-shadow: $box-shadow;
    display: -webkit-box;
    display: flex;
    height: 15rem;
    border-radius: 5px;

  }

  &__avatar img{
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    border: 2px blue solid;
    background-color: grey;
    border-radius: 50%;
  }
  &__info{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: space-evenly;
            justify-content: space-evenly;
    width: calc(100% - 5rem);
    overflow-wrap: anywhere;

  }


}
@media only screen and (min-width: 800px) {
  .user {
    height: calc(100vh - 22rem);
    @include make_box;
  }
}