// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.comments{
  transition: all .5s;
  &__container{
margin-top: 2rem;
padding: 1rem;
overflow-y: scroll;
height: calc(100vh - 35rem);
  }

  &__form {
    & textarea {
      width: calc(100% - 2rem);
      height: 10rem;
      color: white;
      background: black;
      padding: 1.5rem;
      border: none;
      margin-bottom: 2rem;
      border-radius: 10px;
      resize: none;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 2rem;
      font-size: 3rem;
      box-shadow: $box-shadow;
    }
    & label {
      color: #00d4fff4;
      font-size: 1.7rem;
      display: inline-block;
      width: 100%;
      text-align: center;
      text-transform: capitalize;
      font-size: 2.5rem;
    }
  }
}
.comment{
  background-color: lightgray;
  margin-bottom: 1rem;
  border-radius: 1rem;
  box-shadow: $box-shadow;
  padding-bottom: 1rem;
  & h3{
    background-color: $black;
    color: $clouds;
    font-size: 1.6rem;
    padding: .5rem;
    border-radius: 1rem 1rem 0 0 ;
  }
  
  &__content {
    font-size: 2rem;
    margin: 1rem;
  }

}

@media only screen and (min-width: 800px) {
  .comments {
    height: calc(100vh - 19rem);
    @include make_box;
    width: 80%;
    & label {
      font-size: 4rem;
    }
  }


}