.admin{

  &__container{
    height: 100vh;
    background-color:$grey;
  }
  &__header{
    height: 10rem;
    background-color: yellow;
  }
  &__heading{
   font-size: 3.5rem;
   @include gradient_text($text-gradient-color);
   text-align: center;
  }

}