.admin{

  &__container{
    height: 93vh;
    background-color:$grey;
    margin-left: 8rem;
  }
  &__header{
    background-color: yellow;
    height: 8rem;
  }
  &__heading{
   font-size: 3rem;
   @include gradient_text($text-gradient-color);
   text-align: center;
   padding: 1.5rem 0;
   text-shadow: $text-shadow;
  }

}