.item-info {
  height: calc(100vh - 26rem);
  font-size: 1.8rem;
  transition: all .5s;

  &__detail{
    position: absolute;
    font-size: 2rem;
    z-index: 2;
    background: $trans-white;
    padding: 1rem;
    border-radius: 2rem;
    bottom: 36rem;
    &--price{
      
      right: 1rem;
    }
     &--pieces {
       left: 1rem;
     }
  }

  &__img {
    width: -moz-available;
    width: -webkit-fill-available;
    width: fit-available;
    height: 75%;
  }

  &__container {
  width: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 80%, rgba(239, 255, 254, 0.9131361162629115) 100%);
    position: absolute;
    bottom: 0;
    border-radius: 3.5rem 3.5rem 0 0;
    height: 36rem;
    padding: 0 1rem;

    .description {
      font-size: 2rem;
      height: 17.5rem;
      overflow-y: scroll;
    }

    .name {
      font-size: 3rem;
      text-transform: capitalize;
      display: inline-block;
      @include gradient-text($text-gradient-color);
      text-shadow: $text-shadow;
     
    }

  }
}

@media only screen and (min-width: 800px) {
  .item-info {
    font-size: 1.8rem;
    width: 65%;
    height: calc(100vh - 22rem);
    @include make_box;  
    &__container {
      border-radius: 3.5rem 3.5rem 1rem 1rem;
    }
    &__img{
      width: 100%;
      border-radius: 1rem 1rem 0 0 ;
    }
  }
  .main-container{
    background-color:lightgrey;
  }
}
@media only screen and (min-width: 800px)and (max-height: 800px) {
  
  .item-info{
  
  &__container{
    height: 50%;
    & .description{
          font-size: 1.6rem;
          height: 30%;
    }
    & .name{
      font-size: 2rem;
    }
  }

  &__detail{
position: absolute;
font-size: 2rem;
z-index: 2;
background: #f5f5f5b9;
padding: 1rem;
border-radius: 2rem;
top: 1rem;
bottom: inherit;
  }
}


}