.item-info {
  height: calc(100vh - 26rem);
  font-size: 1.8rem;

  &__detail{
    position: absolute;
    font-size: 2rem;
    z-index: 2;
    background: $trans-white;
    padding: 1rem;
    border-radius: 2rem;
    bottom: 36rem;
    &--price{
      
      right: 1rem;
    }
     &--pieces {
       left: 1rem;
     }
  }

  &__img {
    width: -moz-available;
    width: -webkit-fill-available;
    width: fit-available;
    height: 32rem;
  }

  &__container {
  width: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 80%, rgba(239, 255, 254, 0.9131361162629115) 100%);
    position: absolute;
    bottom: 0;
    border-radius: 3.5rem 3.5rem 0 0;
    height: 36rem;
    padding: 0 1rem;

    .description {
      font-size: 2rem;
      height: 17.5rem;
      overflow-y: scroll;
    }

    .name {
      font-size: 3rem;
      text-transform: capitalize;
      display: inline-block;
      @include gradient-text($text-gradient-color);
      text-shadow: $text-shadow;
     
    }

  }
}