
.checkout{

 
  &__container{
    -webkit-box-align: center;
            align-items: center;
    position: relative;
    height: calc(100vh - 10rem);
     .new_order {
       
       width: 100%;
     }
  }

  &__header{
    @include gradient_text($text-gradient-color);
    text-shadow: $text-shadow;
    font-size: 5rem;
    margin-bottom: 1rem;
  }

  &__item{

    margin: 1rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
      h3 {
        font-size: 1.6rem;
      }
  }
  &__grand_total{
    position: absolute;
    bottom: 0;
    @include horizontal-center;
    h2{
      margin-bottom: 1rem;
      font-size: 3.5rem;
    }
  }

}