<div class="admin_container">
<h1 class="admin_header">Admin Dashboard</h1>

<div class="grid_container">
<div class="grid_item">
  <%= link_to 'Categories', admin_categories_path, class: 'admin_link' %>
</div>
<div class="grid_item">
  <%= link_to 'Items', admin_items_path, class: 'admin_link' %>
</div>
</div>



</div>