<div class="header">
  <% if current_user.id %>
  <%= current_user.name%>
  <img src="<%= current_user.avatar %>" alt="profile image">


  <%= link_to 'Logout', logout_path %>
  <% end %>

  <h1><%= session[:quantity] %></h1>
</div>