.center-flex {
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}


.small-font {
  font-size: 1.8rem !important;
}

.limit-width {
  width: 75%;
}