<%= render 'partials/header' %>
<div class="flex-container checkout__container">
  <h2 class='checkout__header'>Checkout</h2>
<%= form_for @order do |f| %>
 <%= list_orders(@order_hash) %>
  <div class="checkout__grand_total">
    <h2 class>Grant Total: £<span class="grand_total"></span></h2>

    <%= f.submit 'Checkout', class:'btn btn--checkout' %>
  </div>
<% end %>
</div>