.main-container {
  height: 100vh;
  overflow: hidden;
}

.flex-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.admin__container {
  height: calc(100vh - 8rem);
  background-color: lightgrey;
  margin-left: 8rem;
  overflow-y: auto;
}