.navigation {
  position: absolute;
  width: 10rem;
  height: 10rem;
  right: 0;

  &__checkbox {
    display: none;

  }

  &__items {
    position: absolute;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 40%;
    width: 40%;
    border-radius: 50%;
    z-index: 40;
    bottom: 1rem;
    background-color: wheat;

    & p {
      font-size: 3rem;
    }
  }

  &__background {
    position: absolute;
    left: 2.5rem;
    top: 1.5rem;
    background-image: $btn-background;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    z-index: 10;
    -webkit-transition: all 1s;
    transition: all 1s;



  }

  &__button {
    position: absolute;
    margin-left: 2rem;
    margin-top: 1rem;
    height: 7rem;
    width: 7rem;
    background-color: $menu-btn-color;
    border-radius: 50%;
    z-index: 20;
    text-align: center;
    cursor: pointer;
  }

 

  &__checkbox:checked~&__background {
    -webkit-transform: scale(120);
    transform: scale(120);
  }

  &__checkbox:checked~&__items {
    display: none;
  }

  &__checkbox:checked~&__nav {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: red;
    opacity: 1;
    z-index: 11;
    left: -260px;
    right: inherit;
  }

  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 3px;
      background-color: var(--color4);
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
    }

    &::before {
      top: 0.8rem;
    }

    &::after {
      top: -0.8rem;
    }
  }
 &__nav {
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   -webkit-transition: all 1.2s;
   transition: all 1.2s;
   opacity: 0;
   &__page{
     height: 20%;
     background-color: white;
     z-index: 12;

     &--1{
      background-color: yellow;
     }
     &--2 {
       background-color: blue;
     }
     &--3 {
       background-color: orangered;
     }
     &--4 {
       background-color: orchid;
     }
     &--5 {
       background-color: olive;
     }
   }
 }


}