// colors 

$trans-white: #f5f5f5b9;
$menu-btn-color: #000;
$btn-background: radial-gradient(circle, #473ffb 0%, #a054ab 46%, #b78f4f 61%, #fc465f 100%);

$text-gradient-color: linear-gradient(rgba(2, 0, 36, 1) 11%,
  #03012c 27%,
  #090979 58%,
  #0386cbf3 86%,
  #00d4fff4 94%);
$text-gradient-color-small: linear-gradient(16deg, #020024 22%, #00d4ffed 100%);

$text-shadow: 0px 4px 4px #00000040,
0px 4px 4px #00000040,
0px 4px 4px #00000040;
$box-shadow: 4px 5px 15px #00000040,
0px 4px 4px #00000040;

$grey: lightgrey;
$light-blue:#00d4fff4;
$dark-color:black;
$midnight: #2c3e50;
$clouds: #ecf0f1;

$crud-new:hsl(120, 75%, 45%);
$crud-delete:hsl(0, 75%, 45%);
$crud-edit:hsl(61, 75%, 45%);
$crud-show:hsl(202, 75%, 45%);
$black: #000000;