<div class="new">
  <%= link_to '+ New Category', new_admin_category_path,class:'btn btn-crud btn-crud--new'%>
</div>
<div class="dashboard__container">
  <% @categories.each do |category| %>
  <div class='category-container'>
    <h2><span><i class="fa"> <svg>
            <use xlink:href="#<%= category.icon %>"></use>
          </svg></i></span>
      <%= category.name %></h2>
    <%= category_crud_buttons(category)  %>
  </div>
  <% end %>
</div>